<div class="row layout2" xmlns="http://www.w3.org/1999/html">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="thumbnail layout2-item">
            <a class="link-no-decoration" href="{{ site.url }}/{{ site.baseurl }}2017/02/26/niyamgiri.html">
                <img src="{{ site.url}}/{{ site.baseurl }}/static/news_images/champaran.jpg" alt="...">
                <div class="caption">
                    <p><strong>नजरिया:&nbsp;
                        नियमगिरि की पहाड़ी से चंपारण के समतल में
                        शांतिमय संघर्ष की जलती मशाल</strong></p>
                    <p class="item-description justify">तो, नियमगगिरि पहाड़ी की छत पर आदिवासियों द्वारा मनाये जा रहे जश्न और चंपारण के समतल क्षेत्र में चंपारण सत्याग्रह के शताब्दी समारोह के बीच समानता क्या है? समानता है यह कि दोनों जगह शांतिमय संघर्ष की मशाल जल रही है, दोनों जगह जमीन पर मालिकाना हक का सवाल प्रमुख है, दोनों का नेतृत्व गांधी—जेपी आंदोलन से निकले शांतिमय संघर्ष में विश्वास करने वाले लोग कर रहे हैं.</p>
                </div>
            </a>
        </div>
        <div class="layout2-item">
            <div class="thumbnail">
                <a class="link-no-decoration" href="{{ site.url }}/{{ site.baseurl }}2017/02/26/hitler.html">
                    <img src="{{ site.url}}/{{ site.baseurl }}/static/news_images/hitler2.jpg" alt="...">
                    <div class="caption overlay-caption">
                        <p><strong>मुद्दा:&nbsp;
                            'हिटलर' के कदमों की अनसुनी आहट</strong></p>
                    </div>
                </a>
            </div>
            <div class="thumbnail">
                <a class="link-no-decoration" href="{{ site.url }}/{{ site.baseurl }}2017/02/26/purple.html">
                    <img src="{{ site.url}}/{{ site.baseurl }}/static/news_images/purple.jpg" alt="...">
                    <div class="caption overlay-caption">
                        <p><strong>कलर पर्पलः&nbsp;एक अमेरिकी उपन्यास
                            जो लगती है झारखंड के आज की दास्तान</strong></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="layout2-item">
            <div class="thumbnail">
                <a class="link-no-decoration" href="{{ site.url }}/{{ site.baseurl }}2017/02/26/farmer-struggle.html">
                    <img src="{{ site.url}}/{{ site.baseurl }}/static/news_images/zameen.jpg" alt="...">
                    <div class="caption overlay-caption">
                        <p><strong>रपट:&nbsp;
                            संघर्ष के बिना नहीं मिलेगी जमीन</strong></p>
                    </div>
                </a>
            </div>
            <div class="thumbnail">
                <a class="link-no-decoration" href="{{ site.url }}/{{ site.baseurl }}2017/02/26/decision-making.html">
                    <img src="{{ site.url}}/{{ site.baseurl }}/static/news_images/women.JPG" alt="...">
                    <div class="caption overlay-caption">
                        <p><strong>समाज:&nbsp;निर्णय प्रक्रिया में महिलाएं कहां हैं?</strong></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>