{% for post in site.posts %}
{% assign post_date = post.date | date: "%s" %}
{% assign post_expiry_date = site.last_published | date: "%s" %}
{% if post_date > post_expiry_date %}
{% if post.priority and post.priority < 7 %}
{% case post.priority %}
{% when 1 %}
{%assign item1 = post %}
{% when 2 %}
{%assign item2 = post %}
{% when 3 %}
{%assign item3 = post %}
{% when 4 %}
{%assign item4 = post %}
{% when 5 %}
{%assign item5 = post %}
{% when 6 %}
{%assign item6 = post %}
{% endcase %}
{% endif %}
{% endif %}
{% endfor %}


<div class="row new_posts">
    <div class="col-xs-12 col-sm-6 col-md-6 new-item">
        <div class="row">
            <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item1.url }}">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="thumbnail">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item1.image }}" alt="...">
                    </div>
                    <div>
                        <h4 class="hindi title"><strong>{{ item1.section }}: {{ item1.title }}</strong></h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6" style="padding-left: 0">
                    <h4 class="hindi item-description justify"><i>{{ item1.excerpt }}</i></h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 new-item">
        <div class="row">
            <div>
                <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item3.url }}">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="thumbnail">
                            <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item3.image }}" alt="...">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h4 class="hindi title"><strong>{{ item3.section }}: {{ item3.title }}</strong></h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 new-item">
        <div class="row">
            <div>
                <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item4.url }}">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="thumbnail">
                            <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item4.image }}" alt="...">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h4 class="hindi title"><strong>{{ item4.section }}: {{ item4.title }}</strong></h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 new-item">
        <div class="row">
            <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item5.url }}">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item5.image }}" alt="...">
                    </div>
                    <div>
                        <h4 class="hindi title"><strong>{{ item5.section }}: {{ item5.title }}</strong></h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 new-item">
        <div class="row">
            <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item6.url }}">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item6.image }}" alt="...">
                    </div>
                    <div>
                        <h4 class="hindi title"><strong>{{ item6.section }}: {{ item6.title }}</strong></h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 new-item">
        <div class="row">
            <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item2.url }}">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="thumbnail">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item2.image }}" alt="...">
                    </div>
                    <div>
                        <h4 class="hindi title"><strong>{{ item2.section }}: {{ item2.title }}</strong></h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6" style="padding-left: 0">
                    <h4 class="hindi item-description justify"><i>{{ item2.excerpt }}</i></h4>
                </div>
            </a>
        </div>
    </div>
</div>