{% assign item1 = nil %}
{% assign item2 = nil %}
{% assign item3 = nil %}
{% assign item4 = nil %}
{% assign item5 = nil %}
{% assign item6 = nil %}
{% assign item7 = nil %}
{% assign item8 = nil %}
{% assign item8 = nil %}
{% assign item8 = nil %}

{% for post in site.posts %}
    {% assign post_date = post.date | date: "%s" %}
    {% assign post_expiry_date = site.last_published | date: "%s" %}
    {% if post_date > post_expiry_date %}
        {% if post.priority and post.priority < 11 %}
            {% case post.priority %}
                {% when 1 %}
                    {%assign item1 = post %}
                {% when 2 %}
                    {%assign item2 = post %}
                {% when 3 %}
                    {%assign item3 = post %}
                {% when 4 %}
                    {%assign item4 = post %}
                {% when 5 %}
                    {%assign item5 = post %}
                {% when 6 %}
                    {%assign item6 = post %}
                {% when 7 %}
                    {%assign item7 = post %}
                {% when 8 %}
                    {%assign item8 = post %}
                {% when 9 %}
                    {%assign item9 = post %}
                {% when 10 %}
                    {%assign item10 = post %}
            {% endcase %}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="row new_posts">
    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="row fix-padding">
            <div class="col-md-12 col-sm-12 col-xs-12 new-item first-item">
                <div class="thumbnail">
                    <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item1.url }}">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item1.image }}" alt="...">
                        <div class="caption overlay-caption">
                            <p class="hindi"><strong>{{ item1.section }}: {{ item1.title }}</strong></p>
                            <p class="hindi item-description justify">{{ item1.excerpt }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="row fix-padding">
            <div class="col-md-12 col-sm-12 col-xs-12 new-item first-item">
                <div class="thumbnail">
                    <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item2.url }}">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item2.image }}" alt="...">
                        <div class="caption overlay-caption">
                            <p class="hindi"><strong>{{ item2.section }}: {{ item2.title }}</strong></p>
                            <p class="hindi item-description justify">{{ item2.excerpt }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="row fix-padding">
            <div class="col-md-12 col-sm-12 col-xs-12 new-item first-item">
                <div class="thumbnail">
                    <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item3.url }}">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item3.image }}" alt="...">
                        <div class="caption overlay-caption">
                            <p class="hindi"><strong>{{ item3.section }}: {{ item3.title }}</strong></p>
                            <p class="hindi item-description justify">{{ item3.excerpt }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="row fix-padding">
            <div class="col-md-12 col-sm-12 col-xs-12 new-item first-item">
                <div class="thumbnail">
                    <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item4.url }}">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item4.image }}" alt="...">
                        <div class="caption overlay-caption">
                            <p class="hindi"><strong>{{ item4.section }}: {{ item4.title }}</strong></p>
                            <p class="hindi item-description justify">{{ item4.excerpt }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row new_posts">
    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="row fix-padding">
            <div class="col-md-12 col-sm-12 col-xs-12 new-item first-item">
                <div class="thumbnail">
                    <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item5.url }}">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item5.image }}" alt="...">
                        <div class="caption overlay-caption">
                            <p class="hindi"><strong>{{ item5.section }}: {{ item5.title }}</strong></p>
                            <p class="hindi item-description justify">{{ item5.excerpt }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="row fix-padding">
            <div class="col-md-12 col-sm-12 col-xs-12 new-item first-item">
                <div class="thumbnail">
                    <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item6.url }}">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item6.image }}" alt="...">
                        <div class="caption overlay-caption">
                            <p class="hindi"><strong>{{ item6.section }}: {{ item6.title }}</strong></p>
                            <p class="hindi item-description justify">{{ item6.excerpt }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-6 new-item">
                <div class="thumbnail">
                    <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item7.url }}">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item7.image }}" alt="...">
                        <div class="caption overlay-caption">
                            <p class="hindi"><strong>{{ item7.section }}: {{ item7.title }}</strong></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-6 new-item">
                <div class="thumbnail">
                    <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item8.url }}">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item8.image }}" alt="...">
                        <div class="caption overlay-caption">
                            <p class="hindi"><strong>{{ item8.section }}: {{ item8.title }}</strong></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-6 new-item">
                <div class="thumbnail">
                    <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item9.url }}">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item9.image }}" alt="...">
                        <div class="caption overlay-caption">
                            <p class="hindi"><strong>{{ item9.section }}: {{ item9.title }}</strong></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-6 new-item">
                <div class="thumbnail">
                    <a class="link-no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ item10.url }}">
                        <img src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ item10.image }}" alt="...">
                        <div class="caption overlay-caption">
                            <p class="hindi"><strong>{{ item10.section }}: {{ item10.title }}</strong></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>