<button id="shareIt-button" class="btn btn-primary active"  title="Share this content" data-toggle="modal" data-target="#shareIt">
    <i class="fa fa-share-alt"></i> {{  site.data.translations.shareIt }}
</button>

<!-- Modal -->
<div class="modal fade" id="shareIt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div id="shareIt-modal-content" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <img id="shareIt-brand-image" src="{{ site.url }}/{{ site.baseurl }}/static/images/{{ site.logo }}" alt="">
            </div>
            <div class="modal-body">
                <p>
                    <span class="hindi">{{ site.data.translations.shareIt }}</span>
                    <a title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}/{{ site.baseurl }}{{ page.url }}" target="_blank">
                        <img class="shareIt-social-icon" src="{{ site.url }}/{{ site.baseurl }}/static/images/facebook.png">
                    </a>
                    <a title="Twitter" href="https://twitter.com/home?status={{ site.url }}/{{ site.baseurl }}{{ page.url }}" target="_blank">
                        <img class="shareIt-social-icon" src="{{ site.url }}/{{ site.baseurl }}/static/images/twitter.png">
                    </a>
                    <a title="Google+" href="https://plus.google.com/share?url={{ site.url }}/{{ site.baseurl }}{{ page.url }}" target="_blank">
                        <img class="shareIt-social-icon" src="{{ site.url }}/{{ site.baseurl }}/static/images/gplus.png">
                    </a>
                    <a href="whatsapp://send?text={{ site.url }}/{{ site.baseurl }}{{ page.url }}" data-action="share/whatsapp/share" target="_blank">
                        <img class="shareIt-social-icon" src="{{ site.url }}/{{ site.baseurl }}/static/images/whatsapp.png">
                    </a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>