---
layout: default
---
<!-- Page Content -->
<div class="container header-gutter">

    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-xs-12 col-sm-12 col-md-8">

            <!-- Blog Post -->
            <div>
            	{% assign page_section_text = page.section %}
            	{% if page.subsection %}
            		{% assign page_section_text = page_section_text | append: ' | ' | append: page.subsection %}
            	{% endif %}
                <h4 class="hindi"><strong>{{ page_section_text }}</strong></h4>
                <!-- Title -->
                <h1 class="hindi">{{ page.title }}</h1>
                <h4 class="hindi post-date">{{ site.new_publication_date }}</h4>
            </div>


            <!-- Author -->
            <!--<p class="lead">
                <a class="link-no-decoration" href="#">{{ page.author }}</a>
            </p>-->

            {% if page.author %}
                {% include author.html %}
            {% endif %}

            <hr>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <!-- Post Content -->
            {% if page.facebook %}
            <div id="fb-root"></div>
            <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

            <!-- Your embedded video player code -->
            <div class="fb-video hindi post-content" data-href="{{page.src}}" data-width="500" data-show-text="false">
                <div class="fb-xfbml-parse-ignore">
                </div>
            </div>
            {% else %}
            <div class="hindi post-content">
                <iframe title="YouTube video player" class="youtube-player" type="text/html"
                        width="640" height="390" src="{{page.src}}"
                        frameborder="0" allowFullScreen></iframe>
            </div>
            {% endif %}

            {% if page.share %}
                {% include shareIt.html %}
            {% endif %}
            <hr>
            <!-- Blog Comments -->
            {% if page.comments %}
                <div id="comments">
                    <div id="disqus_thread"></div>
                    <script>

                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = '//{{ site.disqus_id }}.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                    </noscript>

                    <!--div id="overlay_disqus"/-->
                </div>
            {% endif %}
        </div>

        <div class="clearfix visible-xs-block visible-sm-block"></div>

        <div class="col-xs-12 col-sm-12 col-md-4">
            <div id="same-section-stories">
                {% assign same_section_post_count = 0 %}
                {% for post in site.posts %}
                    {% if post.section and post.section == page.section and post.url != page.url %}
                        {% assign same_section_post_count = same_section_post_count | plus: 1 %}
                        {% if same_section_post_count == 1 %}
                            <hr>
                            <h4 class="label label-default hindi" id="same-section-stories-heading">{{ site.data.translations.same-section-stories }}</h4>
                        {% endif %}
                        <div id="same-section-story">
                            <a class="news-item-preview" href="{{ site.baseurl }}{{ post.url }}">
                                <div class="media">
                                    <div class="media-left">
                                        <img class="post-same-section-story-image-thumbnail" src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ post.image }}" class="media-object same-section-story-img">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading hindi">{{ post.title }}</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% if same_section_post_count == 3 %}
                            {% break %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

            {% if page.tags %}
                <div id="related-stories">
                    {% assign related_post_count = 0 %}
                    {% for post in site.posts %}
                        {% if post.tags %}
                            {% for tag in post.tags %}
                                {% if page.tags contains tag and post.url != page.url %}
                                    {% assign related_post_count = related_post_count | plus: 1 %}
                                    {% if related_post_count == 1 %}
                                        <hr>
                                        <div id="related-stories-heading" class="label label-default hindi">{{ site.data.translations.related-stories }}</div>
                                    {% endif %}
                                    <div id="related-story">
                                        <a class="news-item-preview" href="{{ site.baseurl }}{{ post.url }}">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img class="post-related-story-image-thumbnail" src="{{ site.url }}{{ site.baseurl }}/static/news_images/{{ post.image }}" class="media-object same-section-story-img">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading hindi">{{ post.title }}</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% if related_post_count == 3 %}
                                        {% break %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if related_post_count == 3 %}
                            {% break %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /.row -->
</div>